// listening port
PORT=0000

// Connection to the BDD
PG_URL=postgres://<username>:<password>@<server_name>:<sql_port>/<database_name>

// JSON WEB TOKEN
JWT_SECRET_KEY=CLE SECRETE


// Docker :
    // db :
        POSTGRES_USER=username
        POSTGRES_PASSWORD=password
        POSTGRES_DB=database_name

    // back:
        PG_URL_DOCKER=postgres://<username>:<password>@db:5432/<database_name>